<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.app.mapper.FacilityInfoMapper">
    <resultMap id="BaseResultMap" type="com.lease.model.entity.FacilityInfo">
        <!--@mbg.generated-->
        <!--@Table facility_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `type`,
        `name`,
        icon
    </sql>

    <select id="selectByRoomId" resultMap="BaseResultMap">
        SELECT fi.id,
               fi.type,
               fi.name,
               fi.icon
        FROM facility_info fi
                 JOIN room_facility rf
                      ON fi.id = rf.facility_id
        WHERE fi.is_deleted = 0
          AND rf.is_deleted = 0
          AND rf.room_id = #{roomId,jdbcType=BIGINT}
    </select>

    <select id="selectByApartmentId" resultMap="BaseResultMap">
        SELECT fi.id,
        fi.type,
        fi.name,
        fi.icon
        FROM facility_info fi
        JOIN apartment_facility af
        ON fi.id = af.facility_id
        WHERE fi.is_deleted = 0
        AND af.is_deleted = 0
        AND af.apartment_id = #{id,jdbcType=BIGINT}
    </select>
</mapper>