<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.app.mapper.LabelInfoMapper">
    <resultMap id="BaseResultMap" type="com.lease.model.entity.LabelInfo">
        <!--@mbg.generated-->
        <!--@Table label_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `type`,
        `name`
    </sql>

    <select id="selectByApartmentId" resultMap="BaseResultMap">
        SELECT li.ID,
               li.TYPE,
               li.NAME
        FROM label_info li
                 JOIN apartment_label al
                      ON li.id = al.label_id
        WHERE li.is_deleted = 0
          AND al.is_deleted = 0
          AND al.apartment_id = #{apartmentId,jdbcType=BIGINT}
    </select>

    <select id="selectByRoomId" resultMap="BaseResultMap">
        SELECT li.ID,
               li.TYPE,
               li.NAME
        FROM label_info li
                 JOIN room_label rl
                      ON li.id = rl.label_id
        WHERE li.is_deleted = 0
          AND rl.is_deleted = 0
          AND rl.room_id = #{roomId,jdbcType=BIGINT}
    </select>
</mapper>