<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.admin.mapper.GraphInfoMapper">
  <resultMap id="BaseResultMap" type="com.lease.model.entity.GraphInfo">
    <!--@mbg.generated-->
    <!--@Table graph_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="item_type" jdbcType="TINYINT" property="itemType" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, item_type, item_id, url, create_time, update_time, is_deleted
  </sql>

  <select id="selectNameAndUrlByItemIdAndItemType" resultType="com.lease.web.admin.vo.graph.GraphVo">
    SELECT url, name
    FROM graph_info
    WHERE is_deleted = 0 AND item_id = #{id} AND item_type = #{itemType}
  </select>
</mapper>