<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.admin.mapper.LabelInfoMapper">
    <resultMap id="BaseResultMap" type="com.lease.model.entity.LabelInfo">
        <!--@mbg.generated-->
        <!--@Table label_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `type`,
        `name`,
        create_time,
        update_time,
        is_deleted
    </sql>

    <select id="selectListByApartmentId" resultMap="BaseResultMap">
        SELECT id, type, name
        FROM label_info
        WHERE is_deleted = 0
          AND id in (SELECT label_id
                     FROM apartment_label
                     WHERE is_deleted = 0
                       AND apartment_id = #{id})
    </select>
</mapper>