<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.admin.mapper.LeaseTermMapper">
    <resultMap id="BaseResultMap" type="com.lease.model.entity.LeaseTerm">
        <!--@mbg.generated-->
        <!--@Table lease_term-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="month_count" jdbcType="INTEGER" property="monthCount"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        month_count,
        unit,
        create_time,
        update_time,
        is_deleted
    </sql>

    <select id="selectListByRoomId" resultMap="BaseResultMap">
        SELECT DISTINCT lt.id, lt.month_count, lt.unit
        FROM lease_term lt
                 JOIN room_lease_term rlt
        WHERE lt.is_deleted = 0
          AND rlt.is_deleted = 0
          AND rlt.room_id = #{id,jdbcType=BIGINT}
    </select>
</mapper>