<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lease.web.admin.mapper.ViewAppointmentMapper">
    <resultMap id="BaseResultMap" type="com.lease.model.entity.ViewAppointment">
        <!--@mbg.generated-->
        <!--@Table view_appointment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="apartment_id" jdbcType="INTEGER" property="apartmentId"/>
        <result column="appointment_time" jdbcType="TIMESTAMP" property="appointmentTime"/>
        <result column="additional_info" jdbcType="VARCHAR" property="additionalInfo"/>
        <result column="appointment_status" jdbcType="TINYINT" property="appointmentStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        user_id,
        `name`,
        phone,
        apartment_id,
        appointment_time,
        additional_info,
        appointment_status,
        create_time,
        update_time,
        is_deleted
    </sql>

    <resultMap id="AppointmentVoMap" type="com.lease.web.admin.vo.appointment.AppointmentVo" autoMapping="true">
        <association property="apartmentInfo" javaType="com.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartment_id"/>
            <result property="name" column="apartment_name"/>
            <result property="phone" column="apartment_phone"/>
        </association>
    </resultMap>

    <select id="selectAppointmentVoByPage" resultMap="AppointmentVoMap">
        SELECT va.id,
               va.user_id,
               va.name,
               va.phone,
               va.apartment_id,
               va.appointment_time,
               va.additional_info,
               va.appointment_status,
               ai.id apartment_id,
               ai.name apartment_name,
               ai.introduction,
               ai.district_id,
               ai.district_name,
               ai.city_id,
               ai.city_name,
               ai.province_id,
               ai.province_name,
               ai.address_detail,
               ai.latitude,
               ai.longitude,
               ai.phone apartment_phone,
               ai.is_release
        FROM view_appointment va
                 LEFT JOIN apartment_info ai
                           ON va.apartment_id = ai.id AND ai.is_deleted = 0
        <where>
            va.is_deleted = 0
            <if test="queryVo.provinceId != null">
                AND ai.province_id = #{queryVo.provinceId,jdbcType=BIGINT}
            </if>
            <if test="queryVo.cityId != null">
                AND ai.city_id = #{queryVo.cityId,jdbcType=BIGINT}
            </if>
            <if test="queryVo.districtId != null">
                AND ai.district_id = #{queryVo.districtId,jdbcType=BIGINT}
            </if>
            <if test="queryVo.apartmentId != null">
                AND va.apartment_id = #{queryVo.apartmentId,jdbcType=BIGINT}
            </if>
            <if test="queryVo.name != null and queryVo.name != ''">
                AND va.name like concat('%', #{queryVo.name}, '%')
            </if>
            <if test="queryVo.name != null and queryVo.phone != ''">
                AND va.phone like concat('%', #{queryVo.phone}, '%')
            </if>
        </where>
    </select>
</mapper>